In [331]:
import pandas as pd
from ast import literal_eval
import numpy as np
import math

In [332]:
ds1 = pd.read_csv('tmdb_5000_credits.csv')
ds2 = pd.read_csv('tmdb_5000_movies.csv')

In [333]:
ds1.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [334]:
ds2.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [335]:
ds1 = ds1.rename(index=str, columns={"movie_id" : "id"})

merged = ds1.merge(ds2, on='id')

merged = merged.drop(columns=['budget','homepage','title_x','production_companies','production_countries','revenue','runtime','spoken_languages','title_y','status','tagline','popularity'])

merged = merged.rename(index=str, columns={"original_title" : "title"})

In [336]:
merged.head(1)

,id,cast,crew,genres,keywords,original_language,title,overview,release_date,vote_average,vote_count
0,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",2009-12-10,7.2,11800

In [337]:
merged.shape

(4803, 11)

In [338]:
index_names = merged[ merged['original_language'] != 'en' ].index
merged.drop(index_names, inplace = True)

index_names = merged[ merged['vote_count'] < 800 ].index
merged.drop(index_names, inplace = True)

In [339]:
merged.shape

(1108, 11)

In [340]:
data = merged
import ast
data['genres'] = data['genres'].map(lambda x: ast.literal_eval(x))
data['cast'] = data['cast'].map(lambda x: ast.literal_eval(x))
data['crew'] = data['crew'].map(lambda x: ast.literal_eval(x))
data['keywords'] = data['keywords'].map(lambda x: ast.literal_eval(x))

In [341]:
def make_genresList(x):
    gen = []
    st = " "
    for i in x:
      gen.append(i.get('name'))
    if gen == []:
        return np.NaN
    else:
        return (st.join(gen))

data['genres_list'] = data['genres'].map(lambda x: make_genresList(x))

In [342]:
def get_directors(x):
    dt = []
    st = " "
    for i in x:
        if i.get('job') == 'Director':
            dt.append(i.get('name'))
    if dt == []:
        return np.NaN
    else:
        return (st.join(dt))

data['director_name'] = data['crew'].map(lambda x: get_directors(x))

In [343]:
data['index'] = range(0, len(data))

In [344]:
def make_castList(x):
    gen = []
    st = " "
    for i in x:
      gen.append(i.get('name'))
    if gen == []:
        return np.NaN
    else:
        return (st.join(gen))

data['cast_list'] = data['cast'].map(lambda x: make_castList(x))

In [345]:
def make_keywordsList(x):
    gen = []
    st = " "
    for i in x:
      gen.append(i.get('name'))
    if gen == []:
        return np.NaN
    else:
        return (st.join(gen))

data['keywords_list'] = data['keywords'].map(lambda x: make_keywordsList(x))

In [346]:
def make_CrewList(x):
    gen = []
    st = " "
    for i in x:
      gen.append(i.get('name'))
    if gen == []:
        return np.NaN
    else:
        return (st.join(gen))

data['crew_list'] = data['crew'].map(lambda x: make_keywordsList(x))

In [347]:
data = data.drop(columns=['genres','cast','keywords','crew'])

In [348]:
data.head(1)

,id,original_language,title,overview,release_date,vote_average,vote_count,genres_list,director_name,index,cast_list,keywords_list,crew_list
0,19995,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",2009-12-10,7.2,11800,Action Adventure Fantasy Science Fiction,James Cameron,0,Sam Worthington Zoe Saldana Sigourney Weaver S...,culture clash future space war space colony so...,Stephen E. Rivkin Rick Carter Christopher Boye...

In [349]:
data = data.rename(columns={'genres_list':'genre'})
data = data.rename(columns={'director_name':'director'})
data = data.rename(columns={'cast_list':'cast'})
data = data.rename(columns={'keywords_list':'keywords'})
data = data.rename(columns={'crew_list':'crew'})

In [350]:
data.isnull().sum()

id                   0
original_language    0
title                0
overview             0
release_date         0
vote_average         0
vote_count           0
genre                0
director             0
index                0
cast                 0
keywords             4
crew                 0
dtype: int64

In [351]:
data['overview'] = data['overview'].fillna('')
data['release_date'] = data['release_date'].fillna('')
data['genre'] = data['genre'].fillna('')
data['director'] = data['director'].fillna('')
data['cast'] = data['cast'].fillna('')
data['keywords'] = data['keywords'].fillna('')
data['crew'] = data['crew'].fillna('')

In [352]:
data.isnull().sum()

id                   0
original_language    0
title                0
overview             0
release_date         0
vote_average         0
vote_count           0
genre                0
director             0
index                0
cast                 0
keywords             0
crew                 0
dtype: int64

In [353]:
data.head()

,id,original_language,title,overview,release_date,vote_average,vote_count,genre,director,index,cast,keywords,crew
0,19995,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",2009-12-10,7.2,11800,Action Adventure Fantasy Science Fiction,James Cameron,0,Sam Worthington Zoe Saldana Sigourney Weaver S...,culture clash future space war space colony so...,Stephen E. Rivkin Rick Carter Christopher Boye...
1,285,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",2007-05-19,6.9,4500,Adventure Fantasy Action,Gore Verbinski,1,Johnny Depp Orlando Bloom Keira Knightley Stel...,ocean drug abuse exotic island east india trad...,Dariusz Wolski Gore Verbinski Jerry Bruckheime...
2,206647,en,Spectre,A cryptic message from Bond’s past sends him o...,2015-10-26,6.3,4466,Action Adventure Crime,Sam Mendes,2,Daniel Craig Christoph Waltz Léa Seydoux Ralph...,spy based on novel secret agent sequel mi6 bri...,Thomas Newman Sam Mendes Anna Pinnock John Log...
3,49026,en,The Dark Knight Rises,Following the death of District Attorney Harve...,2012-07-16,7.6,9106,Action Crime Drama Thriller,Christopher Nolan,3,Christian Bale Michael Caine Gary Oldman Anne ...,dc comics crime fighter terrorist secret ident...,Hans Zimmer Charles Roven Christopher Nolan Ch...
4,49529,en,John Carter,"John Carter is a war-weary, former military ca...",2012-03-07,6.1,2124,Action Adventure Science Fiction,Andrew Stanton,4,Taylor Kitsch Lynn Collins Samantha Morton Wil...,based on novel mars medallion space travel pri...,Andrew Stanton Andrew Stanton John Lasseter Co...

In [354]:
# data.to_csv('cleaned_dataset.csv', index=False)

In [355]:
res = 0
v = data['vote_count'] 
R = data['vote_average'] 
C = data['vote_average'].mean() 
m = data['vote_count'].quantile(0.70) 

res = round(((R*v)+ (C*m))/(v+m), 1)

data['weighted_average'] = res

movie_sorted_ranking = data.sort_values('weighted_average',ascending=False)

In [357]:
data.isnull().sum()

id                   0
original_language    0
title                0
overview             0
release_date         0
vote_average         0
vote_count           0
genre                0
director             0
index                0
cast                 0
keywords             0
crew                 0
weighted_average     0
dtype: int64

In [358]:
data.head()

,id,original_language,title,overview,release_date,vote_average,vote_count,genre,director,index,cast,keywords,crew,weighted_average
0,19995,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",2009-12-10,7.2,11800,Action Adventure Fantasy Science Fiction,James Cameron,0,Sam Worthington Zoe Saldana Sigourney Weaver S...,culture clash future space war space colony so...,Stephen E. Rivkin Rick Carter Christopher Boye...,7.1
1,285,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",2007-05-19,6.9,4500,Adventure Fantasy Action,Gore Verbinski,1,Johnny Depp Orlando Bloom Keira Knightley Stel...,ocean drug abuse exotic island east india trad...,Dariusz Wolski Gore Verbinski Jerry Bruckheime...,6.8
2,206647,en,Spectre,A cryptic message from Bond’s past sends him o...,2015-10-26,6.3,4466,Action Adventure Crime,Sam Mendes,2,Daniel Craig Christoph Waltz Léa Seydoux Ralph...,spy based on novel secret agent sequel mi6 bri...,Thomas Newman Sam Mendes Anna Pinnock John Log...,6.4
3,49026,en,The Dark Knight Rises,Following the death of District Attorney Harve...,2012-07-16,7.6,9106,Action Crime Drama Thriller,Christopher Nolan,3,Christian Bale Michael Caine Gary Oldman Anne ...,dc comics crime fighter terrorist secret ident...,Hans Zimmer Charles Roven Christopher Nolan Ch...,7.4
4,49529,en,John Carter,"John Carter is a war-weary, former military ca...",2012-03-07,6.1,2124,Action Adventure Science Fiction,Andrew Stanton,4,Taylor Kitsch Lynn Collins Samantha Morton Wil...,based on novel mars medallion space travel pri...,Andrew Stanton Andrew Stanton John Lasseter Co...,6.4

In [359]:
data.to_csv('tmdb_ds.csv', index=False)

In [360]:
data.shape

(1108, 14)