In [1]:
import pandas as pd
from ast import literal_eval
import numpy as np
import math

In [2]:
ds1 = pd.read_csv('tmdb_5000_credits.csv')
ds2 = pd.read_csv('tmdb_5000_movies.csv')

In [3]:
ds1 = ds1.rename(index=str, columns={"movie_id" : "id"})

merged = ds1.merge(ds2, on='id')

merged = merged.drop(columns=['budget','homepage','original_language','title_x','production_companies','production_countries','revenue','runtime','spoken_languages','title_y','status','tagline','popularity'])

merged = merged.rename(index=str, columns={"original_title" : "title"})

In [4]:
merged.head(1)

,id,cast,crew,genres,keywords,title,overview,release_date,vote_average,vote_count
0,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...",2009-12-10,7.2,11800

In [5]:
data = merged
import ast
data['genres'] = data['genres'].map(lambda x: ast.literal_eval(x))
data['cast'] = data['cast'].map(lambda x: ast.literal_eval(x))
data['crew'] = data['crew'].map(lambda x: ast.literal_eval(x))
data['keywords'] = data['keywords'].map(lambda x: ast.literal_eval(x))

In [6]:
def make_genresList(x):
    gen = []
    st = " "
    for i in x:
      gen.append(i.get('name'))
    if gen == []:
        return np.NaN
    else:
        return (st.join(gen))

data['genres_list'] = data['genres'].map(lambda x: make_genresList(x))

In [7]:
def get_directors(x):
    dt = []
    st = " "
    for i in x:
        if i.get('job') == 'Director':
            dt.append(i.get('name'))
    if dt == []:
        return np.NaN
    else:
        return (st.join(dt))

data['director_name'] = data['crew'].map(lambda x: get_directors(x))

In [8]:
data['index'] = range(0, len(data))

In [9]:
def make_castList(x):
    gen = []
    st = " "
    for i in x:
      gen.append(i.get('name'))
    if gen == []:
        return np.NaN
    else:
        return (st.join(gen))

data['cast_list'] = data['cast'].map(lambda x: make_castList(x))

In [10]:
def make_keywordsList(x):
    gen = []
    st = " "
    for i in x:
      gen.append(i.get('name'))
    if gen == []:
        return np.NaN
    else:
        return (st.join(gen))

data['keywords_list'] = data['keywords'].map(lambda x: make_keywordsList(x))

In [11]:
def make_CrewList(x):
    gen = []
    st = " "
    for i in x:
      gen.append(i.get('name'))
    if gen == []:
        return np.NaN
    else:
        return (st.join(gen))

data['crew_list'] = data['crew'].map(lambda x: make_keywordsList(x))

In [12]:
data = data.drop(columns=['genres','cast','keywords','crew'])

In [13]:
data.head(1)

,id,title,overview,release_date,vote_average,vote_count,genres_list,director_name,index,cast_list,keywords_list,crew_list
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",2009-12-10,7.2,11800,Action Adventure Fantasy Science Fiction,James Cameron,0,Sam Worthington Zoe Saldana Sigourney Weaver S...,culture clash future space war space colony so...,Stephen E. Rivkin Rick Carter Christopher Boye...

In [14]:
data = data.rename(columns={'genres_list':'genre'})
data = data.rename(columns={'director_name':'director'})
data = data.rename(columns={'cast_list':'cast'})
data = data.rename(columns={'keywords_list':'keywords'})
data = data.rename(columns={'crew_list':'crew'})

In [15]:
data.isnull().sum()

id                0
title             0
overview          3
release_date      1
vote_average      0
vote_count        0
genre            28
director         30
index             0
cast             43
keywords        412
crew             28
dtype: int64

In [16]:
data['overview'] = data['overview'].fillna('')
data['release_date'] = data['release_date'].fillna('')
data['genre'] = data['genre'].fillna('')
data['director'] = data['director'].fillna('')
data['cast'] = data['cast'].fillna('')
data['keywords'] = data['keywords'].fillna('')
data['crew'] = data['crew'].fillna('')

In [17]:
data.isnull().sum()

id              0
title           0
overview        0
release_date    0
vote_average    0
vote_count      0
genre           0
director        0
index           0
cast            0
keywords        0
crew            0
dtype: int64

In [18]:
data.head()

,id,title,overview,release_date,vote_average,vote_count,genre,director,index,cast,keywords,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",2009-12-10,7.2,11800,Action Adventure Fantasy Science Fiction,James Cameron,0,Sam Worthington Zoe Saldana Sigourney Weaver S...,culture clash future space war space colony so...,Stephen E. Rivkin Rick Carter Christopher Boye...
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",2007-05-19,6.9,4500,Adventure Fantasy Action,Gore Verbinski,1,Johnny Depp Orlando Bloom Keira Knightley Stel...,ocean drug abuse exotic island east india trad...,Dariusz Wolski Gore Verbinski Jerry Bruckheime...
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,2015-10-26,6.3,4466,Action Adventure Crime,Sam Mendes,2,Daniel Craig Christoph Waltz Léa Seydoux Ralph...,spy based on novel secret agent sequel mi6 bri...,Thomas Newman Sam Mendes Anna Pinnock John Log...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,2012-07-16,7.6,9106,Action Crime Drama Thriller,Christopher Nolan,3,Christian Bale Michael Caine Gary Oldman Anne ...,dc comics crime fighter terrorist secret ident...,Hans Zimmer Charles Roven Christopher Nolan Ch...
4,49529,John Carter,"John Carter is a war-weary, former military ca...",2012-03-07,6.1,2124,Action Adventure Science Fiction,Andrew Stanton,4,Taylor Kitsch Lynn Collins Samantha Morton Wil...,based on novel mars medallion space travel pri...,Andrew Stanton Andrew Stanton John Lasseter Co...

In [19]:
# data.to_csv('cleaned_dataset.csv', index=False)

In [20]:
res = 0
v = data['vote_count'] 
R = data['vote_average'] 
C = data['vote_average'].mean() 
m = data['vote_count'].quantile(0.70) 

res = round(((R*v)+ (C*m))/(v+m), 1)

data['weighted_average'] = res

movie_sorted_ranking = data.sort_values('weighted_average',ascending=False)

In [21]:
features = ['cast', 'keywords', 'director', 'genre']

for feature in features:
    data[feature] = data[feature].fillna('')
def combined_features(row):
    return row['cast'] + " " + row['keywords'] + " " + row['director']+ " " +row['genre']

data['combining'] = data.apply(combined_features, axis=1)

In [22]:
data['combining'] = data['combining'].fillna('')

In [23]:
data.isnull().sum()

id                  0
title               0
overview            0
release_date        0
vote_average        0
vote_count          0
genre               0
director            0
index               0
cast                0
keywords            0
crew                0
weighted_average    0
combining           0
dtype: int64

In [24]:
data.head()

,id,title,overview,release_date,vote_average,vote_count,genre,director,index,cast,keywords,crew,weighted_average,combining
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",2009-12-10,7.2,11800,Action Adventure Fantasy Science Fiction,James Cameron,0,Sam Worthington Zoe Saldana Sigourney Weaver S...,culture clash future space war space colony so...,Stephen E. Rivkin Rick Carter Christopher Boye...,7.1,Sam Worthington Zoe Saldana Sigourney Weaver S...
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",2007-05-19,6.9,4500,Adventure Fantasy Action,Gore Verbinski,1,Johnny Depp Orlando Bloom Keira Knightley Stel...,ocean drug abuse exotic island east india trad...,Dariusz Wolski Gore Verbinski Jerry Bruckheime...,6.8,Johnny Depp Orlando Bloom Keira Knightley Stel...
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,2015-10-26,6.3,4466,Action Adventure Crime,Sam Mendes,2,Daniel Craig Christoph Waltz Léa Seydoux Ralph...,spy based on novel secret agent sequel mi6 bri...,Thomas Newman Sam Mendes Anna Pinnock John Log...,6.3,Daniel Craig Christoph Waltz Léa Seydoux Ralph...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,2012-07-16,7.6,9106,Action Crime Drama Thriller,Christopher Nolan,3,Christian Bale Michael Caine Gary Oldman Anne ...,dc comics crime fighter terrorist secret ident...,Hans Zimmer Charles Roven Christopher Nolan Ch...,7.5,Christian Bale Michael Caine Gary Oldman Anne ...
4,49529,John Carter,"John Carter is a war-weary, former military ca...",2012-03-07,6.1,2124,Action Adventure Science Fiction,Andrew Stanton,4,Taylor Kitsch Lynn Collins Samantha Morton Wil...,based on novel mars medallion space travel pri...,Andrew Stanton Andrew Stanton John Lasseter Co...,6.1,Taylor Kitsch Lynn Collins Samantha Morton Wil...

In [26]:
data.to_csv('testing_dataset.csv', index=False)